/* App.css */
div {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

select {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

input[type='text'],
input[type='submit'] {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

input[type='checkbox'] {
  margin-right: 10px;
}
